<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


  <title>ECHRIDAR</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="index.html">
                <span>
                  ECHRIDAR
                </span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item active">
                      <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="login.html">Log in</a>
                    </li>
                  </ul>
                </div>
                <div class="quote_btn-container  d-flex justify-content-center">
                  <a href="">
                    <img src="static/images/call.png" alt="">
                    CALL : +216 50677871
                  </a>
                  <a href="">
                    <span>
                      @
                    </span>
                    echridar1@gmail.com
                  </a>
                </div>
              </div>
            </nav>
          </div>
        </header>
        <!-- end header section -->


  <!-- prediction section -->
  <section class="info_section layout_padding">
    <div class="container">
        <div class="">
          <h1 class="display-4">To predict the real estate price complete this form</h1>
          <form method="post" action="********">
              <div >
              <label for="type">What is the type of the estate?</label>
              <select  id="type" class="form-control" name="type">
                  <option selected>Appartement
                  <option>House
                  </select>
              <P>
              
              <div>
              <label for="location">Where it's located?</label>
              <select  id="location" class="form-control" name="location">
              <option selected>Tunis
              <option>Nabeul
              <option>Hammamet
              <option>Zaghouan
              <option>Sousse
              <option>Monastir
              <option>Ariana
              <option>Beja
              <option>Sfax
              <option>kairouan
              <option>Bizerte
              <option>Gabes
              <option>Gbelli
              <option>Kef
              <option>Siliana
              <option>Sidi Bouzid
              <option>medenine
               </select></div>     
               <P>
              <div>
              <label for="nb_p">How many pieces?</label>
              <select  id="number" class="form-control" name="nbrepiece">
              <option selected>1
              <option>1
              <option>2
              <option>3
              <option>4
              <option>5
              <option>6
              </select><br>
              <div class="btn-group" role="group" aria-label="Basic example">
              <button type='submit' class="btn btn-primary">PREDICT</button>    <P>
               
          </Form>
          </div>
          </div>
      </div>
    </div>
  </section>

  <!-- end prediction_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
  
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.js"></script>

</body>

</html>