{% extends "layout.html" %}

{% block content %}
     <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h6>
              About
            </h6>
            <div class="custom_heading-container">
              <h2>
                EchriDar
              </h2>
              <hr>
            </div>
            <p>
              Buying real estates can be hard and challenging in most cases. Buyers are assigned to do a
              lot of research to find the most appropriate and cost-effective real estate.
              For that reason, the main idea of EchriDar is to make this task easier.
              This project is developped by a group of engineering students who used machine learning to predict real estates prices.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="static/images/logo1.png" alt="">
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="news_section layout_padding">
    <div class="container">
      <div class="d-flex flex-column align-items-end">
        <div class="custom_heading-container">
          <hr>
          <h2>
            Our Team
          </h2>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="static/images/1.jpg" height=350px weight=350px>
            </div>
            <br>
            <div class="action-box">
              <div class="action">
                <a href="">
                  <img src="static/images/facebook.png" alt="">
                </a>
                <a href="">
                  <img src="static/images/linkedin1.png" alt="">
                </a>
                <a href="">
                  <img src="static/images/instagram-sketched.png" alt="">
                </a>
              </div>
            </div><br>
            <div class="detail-box">
              <h4>
                Abdelhamid Ziadia
              </h4>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="static/images/3.jpg" height=350px weight=350px>
            </div>
            <br>
            <div class="action-box">
              <div class="action">
                <a href="">
                  <img src="static/images/facebook.png" alt="">
                </a>
                <a href="">
                  <img src="static/images/linkedin1.png" alt="">
                </a>
                <a href="">
                  <img src="static/images/instagram-sketched.png" alt="">
                </a>
              </div>
            </div><br>
            <div class="detail-box">
              <h4>
                Khalil Barbouchi
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="static/images/2.jpg" height=350px weight=350px>
            </div>
            <br>
            <div class="action-box">
              <div class="action">
                <a href="">
                  <img src="static/images/facebook.png" alt="">
                </a>
                <a href="">
                  <img src="static/images/linkedin1.png" alt="">
                </a>
                <a href="">
                  <img src="static/images/instagram-sketched.png" alt="">
                </a>
              </div>
            </div>
            <br>
            <div class="detail-box">
              <h4>
               Yassin Abbessi
              </h4>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
{% endblock content %}
