        <!-- end header section -->
        <!-- contact section -->
{% extends "layout.html" %}
{% block content %}
<section class="contact_section layout_padding-bottom">
        <div class="container">
          <div class="row">
            <div class="custom_heading-container">
                <br><br><br><br><br><br>
              <h2>
                Predict
              </h2><hr>
            </div>
          </div>
          <div class="layout_padding-top layout_padding2-bottom">
            <div class="row">
              <div class="col-md-7">
                <form action="*********">
                  <div class="contact_form-container">
                    <div>
                      <div>
                            <label for="location">Where is the estate located?</label>
                            <select  id="location" class="form-control" name="location">
                            <option selected>Tunis
                            <option>Nabeul
                            <option>Hammamet
                            <option>Zaghouan
                            <option>Sousse
                            <option>Monastir
                            <option>Ariana
                            <option>Beja
                            <option>Sfax
                            <option>kairouan
                            <option>Bizerte
                            <option>Gabes
                            <option>Gbelli
                            <option>Kef
                            <option>Siliana
                            <option>Sidi Bouzid
                            <option>medenine
                             </select>
                      </div><br>
                      <div>
                        <label for="nb_p">How many pieces?</label>
              <select  id="number" class="form-control" name="nbrepiece">
              <option selected>1
              <option>1
              <option>2
              <option>3
              <option>4
              <option>5
              <option>6
              </select>
                      </div>
                      <div class="mt-5">
                        <button type="submit">
                          send
                        </button>
                      </div>
                    </div>
      
                  </div>
      
                </form>
              </div>
                
            {% endblock content %}

      
      <!-- end contact section -->
    </body>
</html>