<!DOCTYPE html>
<html>

<head>

  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="static/images/logo1.png" rel="icon">
  <link href="static/images/logo1.png" rel="apple-touch-icon">

  <title>ECHRIDAR</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

  <link href="static/css/containerimage.css" rel="stylesheet" />


  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />

</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          
          <a href="{{ url_for('home') }}" ><img src="static/images/logo_white.png" alt="" class="img-fluid" width="170" height="120"></a>
          <!--<a class="navbar-brand" href="{{ url_for('home') }}">-->
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}">About </a>
                </li>
                {% if not session.logged_in %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth.login') }}">log in</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth.logout') }}">log out</a>
                </li>
                {% endif %}


              </ul>
            </div>
            <div class="quote_btn-container  d-flex justify-content-center">
              <a href="">
                <img src="static/images/call.png" alt="">
                CALL : +216 50677871
              </a>
              <a href="">
                <span>
                  @
                </span>
                echridar1@gmail.com
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </div>

    <!-- end header section -->
  <!--</div>-->
  <!-- contact section -->


<section class="contact_section layout_padding-bottom">
  <div class="container">
    <div class="row">
      <div class="custom_heading-container">
        <br><br><br><br><br><br>
        <h2>
          Predict
        </h2>
        <hr>
      </div>
    </div>
    <div class="layout_padding-top layout_padding2-bottom">
            <div class="row">
              <div class="col-md-7">
                
        
                <form action="" method="POST">
                             
<!--{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success" role="alert">
    <p>{{ message  }}</p>
  </div>
  {% endfor %}
{% endif %}
{% endwith %}-->
            {{ form.csrf_token}}
         <div class="contact_form-container">
           <div>
            <div class="form-group">
              <label>Municipality:</label>
              {{ form.municipality(class="form-control")}}
            </div>
            <div class="form-group">
              <label>Category:</label>
              {{ form.category(class="form-control")}}
            </div>
            <div class="form-group">
              <label>City:</label>
              {{ form.city(class="form-control")}}
            </div>
            <div class="form-group">
              <label>Area:</label>
              {{ form.area(class="form-control")}}
            </div>
            <div class="form-group">
              <label>How many pieces?</label>
              {{ form.roomNumber(class="form-control")}}
            </div>


            <div class="mt-5">
              <button type="submit">
                send
              </button>
            </div>
        </div>
  <br /> <br />
 
  </section>

  
<!--Footer section-->
<footer>
  <section class="info_section layout_padding">
    <div class="container">  
      <div>
        <a href="{{ url_for('home') }}" ><img src="static/images/logo_white.png" alt="" class="img-fluid" width="250" height="120"></a>
        </div>
      <div class="info_social">
        <div>
          <a href="">
            <img src="static/images/fb.png" alt="">
          </a>
        </div>
      
        <div>
          <a href="">
            <img src="static/images/twitter.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="static/images/linkedin.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="static/images/insta.png" alt="">
          </a>
        </div>
      </div>
      
    </div>
</footer>


 <script>
  <!-- end predict section -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
    municipality_select = document.getElementById('municipality');
    city_select = document.getElementById('city');

    municipality_select.onchange = function () {
      municipality = municipality_select.value;
      fetch('city/' + municipality).then(function (response) {
        response.json().then(function (data) {
          optionHTML = '';
          for (city of data.citymunicipality) {
            optionHTML += '<option value="' + city.name + '">'+ city.name + '</option>'
          }
          city_select.innerHTML = optionHTML;
        });
      });
    }
    
  </script>

  </body>

  </html>
