{% extends "layout.html" %}
{% block content %}
<section class="contact_section layout_padding-bottom">
  <div class="container">
    <div class="row">
      <div class="custom_heading-container">
        <br><br><br><br><br><br>
        <h2>
          Predict
        </h2>
        <hr>
      </div>
    </div>
    <div class="layout_padding-top layout_padding2-bottom">
      <div class="row">
        <div class="col-md-7">
          <form method="POST">
            <!--                 
{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success" role="alert">
    <p>{{ message  }}</p>
  </div>
  {% endfor %}
{% endif %}
{% endwith %}-->
            {{ form.csrf_token}}
            
            <div class="form-group">
              <label>Municipality:</label>
              {{ form.municipality(class="form-control")}}
            </div>
            <div class="form-group">
              <label>Category:</label>
              {{ form.category(class="form-control")}}
            </div>
            <div class="form-group">
              <label>City:</label>
              {{ form.city(class="form-control")}}
            </div>
            <div class="form-group">
              <label>Area:</label>
              {{ form.area(class="form-control")}}
            </div>
            <div class="form-group">
              <label>How many pieces?</label>
              {{ form.roomNumber(class="form-control")}}
            </div>


            <div class="mt-5">
              <button type="submit" class="btn btn-success">
                send
              </button>
            </div>
        </div>

      </div>

      </form>
    </div>
  </div>
  </section>


  <!-- end predict section -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
    municipality_select = document.getElementById('municipality');
    city_select = document.getElementById('city');

    municipality_select.onchange = function () {
      municipality = municipality_select.value;
      fetch('city/' + municipality).then(function (response) {
        response.json().then(function (data) {
          optionHTML = '';
          for (city of data.citymunicipality) {
            optionHTML += '<option value="' + city.name + '">'+ city.name + '</option>'
          }
          city_select.innerHTML = optionHTML;
        });
      });
    }
    
  </script>
  {% endblock content %}

  </body>

  </html>
