{% extends "layout.html" %}
{% block content %}
<section class="contact_section layout_padding-bottom">
    <div class="container">
        <div class="row">
                <br><br><br><br><br><br>
                
        </div>
                <hr>
               
            
            </div>
        </div>
        
        
        
        <div class="bg-text" "row">

            <h1 style="font-size:50px">The predicted price is :</h1>
            <h1 style="font-size:50px">{{price}}DT</h1>

        </div>
<br>
        <br>
        <br>
<div class=" text-center" "row">

            <h1> The house features:</h1>
            <p> City : {{city}} </p>
            <p> Category : {% if category==0 %}home{% else %}apartment{% endif %} </p>
            <p> Number of rooms : {{room}} </p>
            <p> Area : {{area}} </p>
<br>
        <br>
        <br>



    




    {% endblock content %}
    </body>

    </html>
